
@{
    ViewBag.Title = "IndexTest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="header">
    <h1 class="header-title">
        Welcome back,  @if (@Session["User_Name"] != null)
        {@Session["User_Name"]}!
    </h1>
    @*<p class="header-subtitle">You have 24 new messages and 5 new notifications.</p>*@
</div>
